<div>    
    <div><label>First Name:</label><span> @DataBinder.Eval(Model, "FirstName") </span></div>
    <div><label>Last Name:</label><span> @DataBinder.Eval(Model, "LastName") </span></div>
    <div><label>Birth Date:</label><span> @DataBinder.Eval(Model, "BirthDate") </span></div>
    <div><label>City:</label><span>  @DataBinder.Eval(Model, "City") </span></div>
    <div><label>Region:</label><span> @DataBinder.Eval(Model, "Region") </span></div>
    <div><label>Notes:</label><span> @DataBinder.Eval(Model, "Notes") </span></div>
</div>